@using PagedList.Mvc
@model PagedList.PagedList<SportSystem.Web.ViewModels.TeamsViewModel.TeamViewModel>

@{
    ViewBag.Title = "All Teams";
}
<h2>View All Matches</h2>

<div class="row">
    <div class="col-md-12">
        @Html.DisplayFor(x => x)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Teams", new { page }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Teams
    </div>
</div>