@model SportSystem.Web.ViewModels.MatchViewModels.MatchViewDetailsModel

@{
    ViewBag.Title = "Match Details";
}

<h2>Match:</h2>
<div class="row">
    <div class="col-md-9">
        <p><strong>Home Team:</strong> @Model.HomeTeamName (Bets:<span id="homeBets">@(Model.HomeBetsAmmount ?? 0) </span>)</p>
        <p><strong>Away Team:</strong> @Model.AwayTeamName (Bets:<span id="awayBets">@(Model.AwayBetsAmmount ?? 0)</span>)</p>
    </div>
    <div class="col-md-3">
        @using (Ajax.BeginForm("AddBet", "Matches", new { id = Model.Id, teamId = Model.HomeTeamId }, new AjaxOptions { UpdateTargetId = "homeBets", InsertionMode = InsertionMode.Replace }))
        {
            @Html.AntiForgeryToken()
            <label for="Ammount">Home bet:</label>
            <input type="number" name="Ammount" id="Ammount" class="form-control" />

            <input type="submit" name="submit" value="Bet" class="btn btn-info" />
        }
        @using (Ajax.BeginForm("AddBet", "Matches", new { id = Model.Id, teamId = Model.AwayTeamId }, new AjaxOptions { UpdateTargetId = "awayBets", InsertionMode = InsertionMode.Replace }))
        {
            @Html.AntiForgeryToken()
            <label for="Ammount">Home bet:</label>
            <input type="number" name="Ammount" id="Ammount" class="form-control" />

            <input type="submit" name="submit" value="Bet" class="btn btn-info" />
        }
    </div>
</div>

<h2>Comments:</h2>
<div class="row">
    <div class="col-md-12">
        @Html.DisplayFor(m => m.Comments)
    </div>
</div>

<h2>Add comment:</h2>
<div class="row">
    <div class="col-md-12">
        @using (@Html.BeginForm("Add", "Comments", new { id = Model.Id }))
        {
            @Html.AntiForgeryToken()
            <label for="Content">Comment</label>
            <textarea name="Content" id="Content" class="form-control"></textarea>

            <input type="submit" name="submit" value="Add comment" class="btn btn-info" />
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
